## editors
/.idea
/.vscode

## system files
.DS_Store

## npm
/node_modules/
/npm-debug.log

## testing
/coverage/

## temp folders
/.tmp/

# build
/_site/
# Allow this folder for the _worker.js file to exist in source control.
# /dist/
/out-tsc/

storybook-static
custom-elements.json
